html 
{
    height: 100%;
}
body 
{
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom, #fdcbf1 50%, #fdcbf1 1%, #f6f3ff 150%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* form
{
    padding-bottom: 100px; height of footer
} */
nav.navbar
{
    border-color: black;
    border-width: 3px;
}
#home, #myurl
{
    width: 100%;
    border: 2px solid white;
}
#url_form, #second_form
{
    margin-top: 120px;
}
div.container-fluid form div div input, form.d-flex div div input
{
    width: 500px;
}
.toast-parent
{
    position: relative;
    height: 100px;
}
.toast-container
{
    position: absolute; 
    bottom: 10px;
    right: 10px;
}
#edit_toast,#delete_toast,#copy_toast
{
    background-color: rgb(53, 170, 62);
}
#expire_toast
{
    background-color: rgb(255, 164, 27);
}
span.input-group-text
{
    background-color: rgb(241, 247, 233);
}
div.input-group
{
    width: 50%; 
    border-radius: 10px;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:35px;
	left:0px;
	padding:5px 8px;
	background:#ffd8a8;
	color:rgb(0, 0, 0);
	z-index:9;
	font-size: 0.75em;
	height:auto;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}
@media screen and (max-width: 992px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-left: 5px !important;
      margin-right: 5px;
      margin-top: 0;
    }
    div.input-group
    {
        width: 100%;
    }
    [data-tip]:hover:before, [data-tip]:hover:after {
        display: block;
        position: absolute;
        top: 100%;
        margin-left: 5px;
    }
}
.footer
{
    position: relative;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}